# ---------------------------------------------------------------------------
# Trivadis AG, Infrastructure Managed Services
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# ---------------------------------------------------------------------------
# Name.......: .gitignore
# Author.....: Stefan Oehrli (oes) stefan.oehrli@trivadis.com
# Editor.....: Stefan Oehrli
# Date.......: 2019.10.07
# Revision...: 
# Purpose....: File to list the files ignored by git
# Notes......: 
# Reference..: --
# License....: --
# ---------------------------------------------------------------------------
# Modified...:
# see git revision history for more information on changes/updates
# ---------------------------------------------------------------------------
# Software, Packages and other stuff not for git
**/*.rpm
**/*.jar
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.gz
**/*.netrc

# ignore key files
**/id_rsa_*

# MacOS fork files
**/*.DS_Store

# Project files
.idea/
/.pydevproject
/.project
**/*.code-workspace
# - EOF -----------------------------------------------------------------